
.brand span {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 45px;
color: #274C5B;
}

.brand img {
  width: 36.58px;
  height: 53.72px;
  margin-top: -15px;
  margin-right: 15px;
}




















/* 

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Yellowtail', cursive;

 */